* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}


.top-image-links-container {
    display: flex;
    border-bottom: 2px solid black;
    align-items: flex-end;  
}

.top-image {
    width: 25%;
    padding: 10px;
    margin: 10px;
    
}

.top-links {
    width: 75%; 
    padding: 10px;
    margin: 10px; 
      
}

.main-container {
    display: flex;  
}

.main-large-image {
    margin: 10px;   
}

.main-text {
    padding: 7px; 
}

.main-text p {
    margin-bottom: 100px;
    height: 50%;
    border: 2px solid black;

}

.main-text h3 {
    height: 18%;
    
    

    
    
}

.top-image-links-container img {
    border: 5px solid black;
}





