* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.top-image-links-container {
    display: flex;
    border-bottom: 2px solid black;
    align-items:flex-end;
    flex-wrap:wrap;
}

.top-image {
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.top-image-links-container img {
    border: 5px solid black;
}

.top-links {
    display: flex;
    padding: 10px;
    margin: 5px; 
       
}

.top-links a {
    border: 3px solid green;
    text-decoration: none;
    color:seagreen;
    padding: 7px;
    margin: 1px;
    
}

.main-container { 
    display: flex;
}

.main-large-image {
    margin: 10px;
}

.main-text {
    padding: 15px;   
}

.main-text p {
    padding: 10px;
    height: 60%;
    border: 2px solid black;
}

.main-text h3 {
    height: 20%;
    text-align: center;
}
